@import "../includes/variables.scss";

.post__filter{
    margin-bottom: 20px;
    display: flex;
    justify-content: right;
}

.posts{
    display: flex;
    flex-direction: column;

    .post__item{
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 2px #333;
        padding: 10px;
        text-decoration: none;
        outline: none;
        color: #333;
        transition: box-shadow .4s;
        margin-bottom: 30px;
        a{
            color: #333;
            text-decoration: none;
            outline: none;
        }
        &:active{
            box-shadow: 0px 0px 4px #333;
        }
        .post__image{
            flex-basis: 25%;
            img{
                width: 100%;
                max-height: 300px;
                object-fit: cover;
            }
        }
        .post__summary{
            flex-basis: 75%;
            padding: 0 30px;
            .post__head{
                width: 100%;
                word-break: break-word;
                .post__title{
                    font-size: 24px;
                    display: inline-block;
                    
                }
                .post__date{
                    font-size: 11px;
                    color: #999;
                    position: relative;
                    top: -3px;
                    left: 10px;
                    &::before{
                        content: '';
                        background-color: #999;
                        position: absolute;
                        top: 4px;
                        width: 5px;
                        height: 5px;
                        left: -10px;
                        border-radius: 50%;
                    }
                }
            }
            .post__content{
                margin-top: 5px;
                p{
                    color: $text-color;
                }
                
            }
        }
        .post__content--read_more{
            display: block;
            float: right;
            color: #222;
            font-style: italic;
        }
    }
}

@media only screen and (max-width: 1200px){
    .posts{
        .post__item{
            display: flex;
            flex-direction: column;
            .post__image{
                flex-basis: 100%;
                img{
                    max-height: 200px;
                }
            }
            .post__summary{
                flex-basis: 100%;
                margin-top: 10px;
                padding: 0px;
                .post__head{
                    .post__title{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .posts{
        .post__item{
            .post__summary{
                .post__head{
                    .post__title{
                        font-size: 20px;
                    }
                    .post__date{
                        font-size: 9px;
                    }
                }
            }
        }
        .post__content{
            p{
                font-size: 13px;
            }
        }
    }
}