@font-face {
  font-family: 'Open Sans';
  src: url("../../../fonts/OpenSans-Regular.ttf");
}

.post__filter {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts .post__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 0px 2px #333;
          box-shadow: 0px 0px 2px #333;
  padding: 10px;
  text-decoration: none;
  outline: none;
  color: #333;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s;
  margin-bottom: 30px;
}

.posts .post__item a {
  color: #333;
  text-decoration: none;
  outline: none;
}

.posts .post__item:active {
  -webkit-box-shadow: 0px 0px 4px #333;
          box-shadow: 0px 0px 4px #333;
}

.posts .post__item .post__image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.posts .post__item .post__image img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts .post__item .post__summary {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 0 30px;
}

.posts .post__item .post__summary .post__head {
  width: 100%;
  word-break: break-word;
}

.posts .post__item .post__summary .post__head .post__title {
  font-size: 24px;
  display: inline-block;
}

.posts .post__item .post__summary .post__head .post__date {
  font-size: 11px;
  color: #999;
  position: relative;
  top: -3px;
  left: 10px;
}

.posts .post__item .post__summary .post__head .post__date::before {
  content: '';
  background-color: #999;
  position: absolute;
  top: 4px;
  width: 5px;
  height: 5px;
  left: -10px;
  border-radius: 50%;
}

.posts .post__item .post__summary .post__content {
  margin-top: 5px;
}

.posts .post__item .post__summary .post__content p {
  color: #5e5454;
}

.posts .post__item .post__content--read_more {
  display: block;
  float: right;
  color: #222;
  font-style: italic;
}

@media only screen and (max-width: 1200px) {
  .posts .post__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .posts .post__item .post__image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .posts .post__item .post__image img {
    max-height: 200px;
  }
  .posts .post__item .post__summary {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 10px;
    padding: 0px;
  }
  .posts .post__item .post__summary .post__head .post__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .posts .post__item .post__summary .post__head .post__title {
    font-size: 20px;
  }
  .posts .post__item .post__summary .post__head .post__date {
    font-size: 9px;
  }
  .posts .post__content p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=posts.css.map */