@import "../includes/variables.scss";

.sidebar{
    width: 15%;
    overflow: hidden;
    border-left: 1px solid $black-opactiy-low;
    height: 100vh;
    .sidebar--title{
        display: block;
        text-align: center;
        font-size: 16px;
        
    }
    .sidebar__search{
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid $black-opactiy-low;
        position: relative;
        display: flex;
        flex-direction: column;
        input{
            margin-top: 10px;
            background-color: $input-color;
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
        }
        .search__results{
            padding: 10px 20px;
            box-shadow: 0px 0px 2px #333;
            width: 148px;
            position: absolute;
            left: -16px;
            background: #fff;
            z-index: 1;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            text-align: left;
            top: 62px;
            .result__item{
                display: flex;
                margin-bottom: 15px;
                text-decoration: none;
                .result__image{
                    flex-basis: 25%;
                    height: 30px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .result__summary{
                    flex-basis: 75%;
                    padding: 0 7px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    span{
                        color: #333;
                        text-decoration: none;
                        font-size: 15px;
                    }
                   
                }
            }
            .result__list_all{
                color: #333;
                text-decoration: none;
                text-align: center;
                font-size: 13px;
                i{
                    font-size: 8px;
                }
            }
        }
    }
    .re_comments{
        padding: 20px 0;
        border-bottom: 1px solid $black-opactiy-low;
        .re_comments__item{
            display: flex;
            margin-top: 12px;
            text-decoration: none;
            outline: none;
            .re_comments__image{
                flex-basis: 25%;
                height: 48px;
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .re_comments__summary{
                flex-basis: 75%;
                padding: 0 7px;
                overflow: hidden;
                text-overflow: ellipsis;
                .re_comments__name{
                    font-size: 14px;
                    color: $blue-dark;
                }
                .re_comments__content{
                    margin-top: 2px;
                    font-size: 12px;
                    color: $text-color;
                }
            }

        }
    }
  .contact_me{
        padding: 20px 0;
        .contact_me__social{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            .social__item{
                padding: 10px;
                font-size: 23px;
                color: $blue-dark;
                outline: none;
            }
        }

  }
}

