@font-face {
  font-family: 'Open Sans';
  src: url("../../../fonts/OpenSans-Regular.ttf");
}

.sidebar {
  width: 15%;
  overflow: hidden;
  border-left: 1px solid #C3CFD9;
  height: 100vh;
}

.sidebar .sidebar--title {
  display: block;
  text-align: center;
  font-size: 16px;
}

.sidebar .sidebar__search {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #C3CFD9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .sidebar__search input {
  margin-top: 10px;
  background-color: #F7F7F7;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.sidebar .sidebar__search .search__results {
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 2px #333;
          box-shadow: 0px 0px 2px #333;
  width: 148px;
  position: absolute;
  left: -16px;
  background: #fff;
  z-index: 1;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  top: 62px;
}

.sidebar .sidebar__search .search__results .result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  text-decoration: none;
}

.sidebar .sidebar__search .search__results .result__item .result__image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 30px;
}

.sidebar .sidebar__search .search__results .result__item .result__image img {
  width: 100%;
  height: 100%;
}

.sidebar .sidebar__search .search__results .result__item .result__summary {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 0 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .sidebar__search .search__results .result__item .result__summary span {
  color: #333;
  text-decoration: none;
  font-size: 15px;
}

.sidebar .sidebar__search .search__results .result__list_all {
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}

.sidebar .sidebar__search .search__results .result__list_all i {
  font-size: 8px;
}

.sidebar .re_comments {
  padding: 20px 0;
  border-bottom: 1px solid #C3CFD9;
}

.sidebar .re_comments .re_comments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  text-decoration: none;
  outline: none;
}

.sidebar .re_comments .re_comments__item .re_comments__image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 48px;
}

.sidebar .re_comments .re_comments__item .re_comments__image img {
  width: 100%;
  border-radius: 50%;
}

.sidebar .re_comments .re_comments__item .re_comments__summary {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 0 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .re_comments .re_comments__item .re_comments__summary .re_comments__name {
  font-size: 14px;
  color: #0B3175;
}

.sidebar .re_comments .re_comments__item .re_comments__summary .re_comments__content {
  margin-top: 2px;
  font-size: 12px;
  color: #5e5454;
}

.sidebar .contact_me {
  padding: 20px 0;
}

.sidebar .contact_me .contact_me__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.sidebar .contact_me .contact_me__social .social__item {
  padding: 10px;
  font-size: 23px;
  color: #0B3175;
  outline: none;
}
/*# sourceMappingURL=sidebar.css.map */