/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../../fonts/OpenSans-Regular.ttf");
}

.post__filter {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts .post__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 0px 2px #333;
          box-shadow: 0px 0px 2px #333;
  padding: 10px;
  text-decoration: none;
  outline: none;
  color: #333;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s;
  margin-bottom: 30px;
}

.posts .post__item a {
  color: #333;
  text-decoration: none;
  outline: none;
}

.posts .post__item:active {
  -webkit-box-shadow: 0px 0px 4px #333;
          box-shadow: 0px 0px 4px #333;
}

.posts .post__item .post__image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.posts .post__item .post__image img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts .post__item .post__summary {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 0 30px;
}

.posts .post__item .post__summary .post__head {
  width: 100%;
  word-break: break-word;
}

.posts .post__item .post__summary .post__head .post__title {
  font-size: 24px;
  display: inline-block;
}

.posts .post__item .post__summary .post__head .post__date {
  font-size: 11px;
  color: #999;
  position: relative;
  top: -3px;
  left: 10px;
}

.posts .post__item .post__summary .post__head .post__date::before {
  content: '';
  background-color: #999;
  position: absolute;
  top: 4px;
  width: 5px;
  height: 5px;
  left: -10px;
  border-radius: 50%;
}

.posts .post__item .post__summary .post__content {
  margin-top: 5px;
}

.posts .post__item .post__summary .post__content p {
  color: #5e5454;
}

.posts .post__item .post__content--read_more {
  display: block;
  float: right;
  color: #222;
  font-style: italic;
}

@media only screen and (max-width: 1200px) {
  .posts .post__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .posts .post__item .post__image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .posts .post__item .post__image img {
    max-height: 200px;
  }
  .posts .post__item .post__summary {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 10px;
    padding: 0px;
  }
  .posts .post__item .post__summary .post__head .post__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .posts .post__item .post__summary .post__head .post__title {
    font-size: 20px;
  }
  .posts .post__item .post__summary .post__head .post__date {
    font-size: 9px;
  }
  .posts .post__content p {
    font-size: 13px;
  }
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../../fonts/OpenSans-Regular.ttf");
}

.sidebar {
  width: 15%;
  overflow: hidden;
  border-left: 1px solid #C3CFD9;
  height: 100vh;
}

.sidebar .sidebar--title {
  display: block;
  text-align: center;
  font-size: 16px;
}

.sidebar .sidebar__search {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #C3CFD9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .sidebar__search input {
  margin-top: 10px;
  background-color: #F7F7F7;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.sidebar .sidebar__search .search__results {
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 2px #333;
          box-shadow: 0px 0px 2px #333;
  width: 148px;
  position: absolute;
  left: -16px;
  background: #fff;
  z-index: 1;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  top: 62px;
}

.sidebar .sidebar__search .search__results .result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  text-decoration: none;
}

.sidebar .sidebar__search .search__results .result__item .result__image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 30px;
}

.sidebar .sidebar__search .search__results .result__item .result__image img {
  width: 100%;
  height: 100%;
}

.sidebar .sidebar__search .search__results .result__item .result__summary {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 0 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .sidebar__search .search__results .result__item .result__summary span {
  color: #333;
  text-decoration: none;
  font-size: 15px;
}

.sidebar .sidebar__search .search__results .result__list_all {
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}

.sidebar .sidebar__search .search__results .result__list_all i {
  font-size: 8px;
}

.sidebar .re_comments {
  padding: 20px 0;
  border-bottom: 1px solid #C3CFD9;
}

.sidebar .re_comments .re_comments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  text-decoration: none;
  outline: none;
}

.sidebar .re_comments .re_comments__item .re_comments__image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 48px;
}

.sidebar .re_comments .re_comments__item .re_comments__image img {
  width: 100%;
  border-radius: 50%;
}

.sidebar .re_comments .re_comments__item .re_comments__summary {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 0 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .re_comments .re_comments__item .re_comments__summary .re_comments__name {
  font-size: 14px;
  color: #0B3175;
}

.sidebar .re_comments .re_comments__item .re_comments__summary .re_comments__content {
  margin-top: 2px;
  font-size: 12px;
  color: #5e5454;
}

.sidebar .contact_me {
  padding: 20px 0;
}

.sidebar .contact_me .contact_me__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.sidebar .contact_me .contact_me__social .social__item {
  padding: 10px;
  font-size: 23px;
  color: #0B3175;
  outline: none;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../../fonts/OpenSans-Regular.ttf");
}

.left-menu {
  width: 150px;
  padding: 40px 20px 10px 10px;
  background-color: #3A74DE;
  height: 100vh;
}

.left-menu .left-menu__wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
}

.left-menu .left-menu__wrapper .left-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 50px;
  position: relative;
  z-index: 5;
}

.left-menu .left-menu__wrapper .left-menu__menu .menu__item {
  outline: none;
  z-index: 7;
  width: 102px;
  padding: 13px 21px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 7px;
}

.left-menu .left-menu__wrapper .left-menu__menu .menu__item.active, .left-menu .left-menu__wrapper .left-menu__menu .menu__item:hover {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #3a74de), to(#91a0b9));
  background: linear-gradient(90deg, #020024 0%, #3a74de 0%, #91a0b9 100%);
}

.left-menu .left-menu--logo {
  width: 82px;
}

.mobile_menu {
  height: 50px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 19px;
  background-color: #3A74DE;
  color: #f5f5f5;
  position: relative;
}

.mobile_menu .mobile-menu--logo {
  width: 40px;
}

.mobile_menu .mobile_menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile_menu .mobile_menu__items .mobile_menu__item .menu__togle {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.mobile_menu .mobile_menu__items .mobile_menu__item a {
  color: #f5f5f5;
  text-decoration: none;
  outline: none;
}

.mobile_menu .mobile_menu__items .mobile_menu__item a.active {
  color: #49D797;
}

.mobile_menu .mobile_menu__right #mobile_menu__search {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding-right: 44px;
  padding-left: 15px;
  display: none;
  border-radius: 0px;
  border: none;
  background: #3A74DE;
  color: #fff;
}

.mobile_menu .mobile_menu__right .mobile_menu__search_opener {
  cursor: pointer;
}

.mobile_menu .mobile_menu__right .mobile_menu__search_closer {
  position: absolute;
  z-index: 2;
  color: #fff;
  display: none;
  right: 18px;
  top: 18px;
}

.mobile_menu .mobile_menu__results {
  display: none;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 5px #333;
          box-shadow: 0px 2px 5px #333;
  color: #333;
  padding: 10px 0 40px 0;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.mobile_menu .mobile_menu__results .result__title {
  margin-left: 5px;
}

.mobile_menu .mobile_menu__results .results__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mobile_menu .mobile_menu__results .results__wrapper .result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  outline: none;
  padding: 10px;
}

.mobile_menu .mobile_menu__results .results__wrapper .result__item .result__image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 90px;
}

.mobile_menu .mobile_menu__results .results__wrapper .result__item .result__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile_menu .mobile_menu__results .results__wrapper .result__item .result__summary {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding-left: 5px;
}

.mobile_menu .mobile_menu__results .results__wrapper .result__item .result__summary h3 {
  color: #000;
  font-weight: 500;
}

.mobile_menu .mobile_menu__results .results__wrapper .result__item .result__summary .result__preview {
  margin-top: 5px;
  color: #5e5454;
  max-height: 81px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile_menu .mobile_menu__results .results__wrapper .result__more {
  font-size: 13px;
  text-decoration: none;
  color: #333;
  padding: 5px 0 10px 10px;
  bottom: 0;
  text-align: center;
}

.mobile_menu .mobile_menu__results .results__wrapper .result__more i {
  font-size: 8px;
}

@media screen and (max-width: 999px) {
  .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  font-family: "Open Sans", "sans-serif";
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content, .sidebar {
  padding: 40px 20px 10px 20px;
}

.page-content {
  width: 70%;
}

.page-content .page-content__title {
  font-size: 24px;
}

.main_hr {
  width: 100%;
  margin: 20px 0;
  height: 1.3px;
  background-color: #999999;
  position: relative;
}

.main_hr::before {
  content: '';
  width: 50px;
  height: 2.6px;
  background-color: #49D797;
  position: absolute;
  top: -.8px;
  border-radius: 13px;
}

@media screen and (max-width: 1000px) {
  .left-menu {
    display: none;
  }
  .page-content {
    margin-left: 0;
  }
  .sidebar {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .page-content {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */