@import "includes/reset.scss";
@import "includes/variables.scss";
@import "layouts/posts.scss";
@import "layouts/sidebar.scss";
@import "layouts/menu.scss";

body {
    font-family: $base-font, 'sans-serif';
}

.page {
    display: flex;
}

.page-content, .sidebar{
    padding: 40px 20px 10px 20px;
}


.page-content{
    width: 70%;
    .page-content__title{
        font-size: 24px;
    }
}
.main_hr{
    width: 100%;
    margin: 20px 0;
    height: 1.3px;
    background-color: #999999;
    position: relative; 
    &::before{
        content: '';
        width: 50px;
        height: 2.6px;
        background-color: #49D797;
        position: absolute;
        top: -.8px;
        border-radius: 13px;
    }
}



@media screen and (max-width: 1000px){
    .left-menu{
        display: none;
    }
    .page-content{
        margin-left: 0;
    }
    .sidebar{
        width: 20%;
    }
}

@media screen and (max-width: 768px){
    .sidebar{
        display: none;
    }
    .page-content{
        width: 100%;
    }
}