@font-face {
    font-family: 'Open Sans';
    src: url('../../../fonts/OpenSans-Regular.ttf')
}

$primary-color: #3A74DE;
$text-color: #5e5454;
$base-font: 'Open Sans';
$black-opactiy-low: #C3CFD9;
$input-color: #F7F7F7;
$blue-dark: #0B3175;
$green-ligth: #49D797;